.error{
    border-color: red;
}

.error-label{
    color: red;
}

/** .my-card{
    width: 200px;
    border-color: gray;
    padding: 5px;
    margin: 5px;
    display: inline-flex;
}*/

.my-card{
    background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}